@page "/"
@inject ILogger<Home> Logger

<PageTitle>@_localizer["Home_PageTitle"]</PageTitle>

<h1>@_localizer["AppTitle"]</h1>

<h4>@_localizer["Home_Title"]</h4>

<p>@_localizer["Home_LoginInfo"]</p>

<h2>@_localizer["Home_AdminInfo"]</h2>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var now = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
            Logger.LogInformation($"Log Home Test : {now}");
            StateHasChanged();
        }
    }
}
